<div class="container">
<footer class="footer">
<small>
Copyright © <a href="enter in a link here">Built and Maintained by ME</a>
by <a href="enter in a link here">Rushikesh Chaskar</a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
</ul>
</nav>
</footer>
</div>